* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  background: rgb(145, 99, 114);
  text-align: center;
}

.container {
  width: 450px;
  background: #111;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 20px 25px;
}

.container .text {
  font-size: 40px;
  color: #ccc;
  font-weight: 600;
  line-height: 35px;
  font-family: Dancing Script;
}

.container .input-data {
  margin: 25px 5px 15px 5px;
}

.input-data .display {
  height: 45px;
  width: 100%;
  display: flex;
  position: relative;
}

.input-data .display input {
  width: 100%;
  height: 100%;
  border: none;
  background: #222;
  border: 1px solid #333;
  padding: 10px;
  font-size: 17px;
  color: #eee;
  user-select: none;
  pointer-events: none;
}

.display span {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 25px;
}

.input-data button {
  height: 45px;
  display: block;
  width: 100%;
  margin-top: 15px;
  outline: none;
  background: #1b1b1b;
  border: 1px solid rgb(145, 99, 114);
  font-size: 19px;
  color: #999;
  font-weight: 800;
}

.input-data button:hover {
  background: #222;
}
